# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# binarys
guard
guard.linux_386
guard.linux_amd64
guard.macos_amd64
guard.windows_386.exe
guard.windows_amd64.exe

# vendor
vendor/
